.tab-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  outline: none;
}

.tab-button.active {
  border-radius: 0px;
  border-bottom: 2px solid black;
}

.tab-button:focus {
  outline: none;
}
