.tab-button {
  padding: 0.625rem 1.25rem;
  border: none;
  color: #1976d2;
  background-color: transparent;
  font-weight: bolder;
  cursor: pointer;
  outline: none;
  transition: border-bottom 0.3s ease, color 0.3s ease; /* Add this line */
}

.tab-button.active {
  border-bottom: 3px solid #1976d2;
}

.tab-button:focus {
  outline: none;
}
