.tab-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.25rem;
  padding: 0.5rem 1rem;
  border: none;
  color: #1976d2;
  background-color: transparent;
  font-weight: bolder;
  cursor: pointer;
  outline: none;
  transition: border-bottom 0.3s ease, color 0.3s ease; /* Add this line */
}

.tab-button.active {
  border-bottom: 3px solid #1976d2;
}

.tab-button:focus {
  outline: none;
}

.tab-button:hover {
  color: #2196f3;
}

.tab-button.disabled {
  color: #9e9e9e;
  cursor: not-allowed;
}
